@using ITC_Matrix.Common;
@model ITC_Matrix.Models.Operator
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Assets/CSS/passwordscheck.css" />

<script type="text/javascript" src="~/Assets/JS/passwordscheck.js"></script>

<section class="mainTable-right">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <section class="contentLimit-box content" id="content-1">

            @if (ViewBag.Message != null)
            {
                <section class="@ViewBag.MessageClass">@ViewBag.Message</section>               
            }

            <section class="contentLimit-boxInner">
                <section class="formBox-row fullwidth">
                    <section class="heading">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.ChangePassword)</section>
                    <section class="formBox-content">
                        <section class="leftDiv half" style="width:450px;">  
                            <section class="feildRow">
                                <section class="labelWraper" style="width:125px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.OldPassword): </label>
                                </section>
                                <section class="feildWraper">
                                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { id = "txtoldpassword", @class = "required", placeholder = "Password", type = "password", @maxLength = 20, autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </section>
                            </section>                          
                            <section class="feildRow">
                                <section class="labelWraper" style="width:125px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.NewPassword): </label>
                                </section>
                                <section class="feildWraper">
                                    @Html.PasswordFor(model => model.PASSWORD, new { htmlAttributes = new { id = "txtpassword", @class = "required", placeholder = "Password", type = "password", @maxLength = 20, autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:125px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Confirm_Password): </label>
                                </section>
                                <section class="feildWraper">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "txtConfirmpassword", @class = "required", placeholder = "Confirm Password", type = "password",@maxLength = 20, autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </section>
                            </section>                            
                            <section class="feildRow">
                                <section class="labelWraper" style="width:125px;">
                                    <label> </label>
                                </section>
                                <section class="feildWraper">
                                    <div id="result" style="padding:3px;"></div> 
                                </section>
                            </section>                           
                        </section>
                    </section>
                </section>               
                <section class="formBox-content" style="padding-top:0;">
                    <section class="floatRight">
                        <section class="small-formBtn">
                            <input type="submit" class="pink-btn" value="@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Save)">
                        </section>                        
                    </section>
                </section>
            </section>
        </section>
        <section class="clear"></section>
    }
</section>

