@using ITC_Matrix.Common;
@model ITC_Matrix.Models.Operator
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>    
    
    <meta charset="utf-8">
    <title>ITC Systems - Matrix Manager&#8482;</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="~/Assets/CSS/master.css" rel="stylesheet" />
    @if ((Session["DefaultTheme"]) != null)
    {
        <link rel="stylesheet" href='@(Session["DefaultTheme"])'>
    }
    else
    {
        <link rel="stylesheet" href="~/Assets/CSS/default-theme.css">
    }    

    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
    <![endif]-->
   
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet" type="text/css">

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>     
    
    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                if ($('#txtusername').val() == "" && $('#txtpassword').val() == "") {
                    $('#lblError').html("Please enter the username.");
                    $('#lblError1').html("Please enter the password.");
                    return false;
                }
                else {
                    $('#lblError').html("");
                    $('#lblError1').html("");
                }

                if ($('#txtusername').val() == "") {
                    $('#lblError').html("Please enter the username.");
                    return false;
                }
                else {
                    $('#lblError').html("");
                    $('#lblError1').html("");
                }

                if ($('#txtpassword').val() == "") {
                    $('#lblError1').html("Please enter the password.");
                    return false;
                }
                else {
                    $('#lblError').html("");
                    $('#lblError1').html("");
                }

                return true;
            });
        });
    </script>  
</head>
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    <body>

        <section class="container" style="min-height:733px;">
            <header class="mainHeader fullwidth">
                <a href="@Url.Action("Index", "Login")" class="logo">
                </a>   
                
            </header>

            <section class="fullwidth loginContainer">

                <section class="loginBox">

                    <section class="blueHeading-bg">
                        <h2>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.ForgotPassword)</h2>
                    </section>
                    <section class="loginBox-content">
                        <section class="feildRow">                           
                            @if (ViewBag.lblErrorlogin != null)
                            {
                                <section class="@ViewBag.MessageClass">@ViewBag.lblErrorlogin</section>
                            }
                            <label class="customeFeild userName">
                                @*@Html.TextBox("Email")*@                               
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Please enter email address" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <label id="lblError" style="color:red;">@ViewBag.lblError</label>
                            </label>
                        </section>                        
                        <section class="feildRow" style="padding:0;">
                            <input type="submit" id="btnSubmit" value="Submit" class="login-btn" />
                        </section>
                        <section class="feildRow" style="padding:0;width:35%;">
                            <section class="labelWraper">
                                <label> @Html.ActionLink("Return to login", "Index", null, new { @class = "formBox-content half labelWraper label" })</label>
                            </section>
                        </section>
                    </section>
                    <section class="clear"></section>
                </section>
            </section>
            <footer class="fullwidth mainFooter">
                Copyright © @DateTime.Now.Year ITC Systems. All rights reserved.
            </footer>
            <section class="clear"></section>
        </section>

    </body>
}
</html>
