@model ITC_Matrix.Models.Operator
@using ITC_Matrix.Common;
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>    
    <meta charset="utf-8">
    <title>ITC Systems - Matrix Manager&#8482;</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="../../Assets/css/master.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/CSS/default-theme.css">

    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
    <![endif]-->
   
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Assets/CSS/passwordscheck.css" />

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>       

    <script type="text/javascript" src="~/Assets/JS/passwordscheck.js"></script>

</head>
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <body>
        <section class="container" style="min-height:733px;">
            <header class="mainHeader fullwidth">
                <a href="@Url.Action("Index", "Login")" class="logo">
                </a>   
              
            </header>
            <section class="fullwidth loginContainer">               
                <section class="loginBox" style="min-height:160px;width:450px;">
                    <section class="blueHeading-bg">
                        <h2>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.ResetPassword)</h2>
                    </section>                   
                   <br /><br />
                    @if (ViewBag.lblErrorlogin != null)
                    {
                        <section class="@ViewBag.MessageClass">@ViewBag.lblErrorlogin</section>
                    }

                    @if (ViewBag.Timeout == null)
                    {
                        <section class="formBox-content" id="secResetPassword">
                            <section class="feildRow">
                                <section class="labelWraper" style="width:35%;float:left;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Password)</label>
                                </section>
                                <section class="feildWraper" style="width:65%;float:left;">                                    
                                    @Html.PasswordFor(model => model.PASSWORD, new { htmlAttributes = new { id = "txtpassword", @class = "required", placeholder = "Password", type = "password", @maxLength = 20, autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:35%;float:left;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Confirm_Password): </label>
                                </section>
                                <section class="feildWraper" style="width:65%;float:left;">                                    
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { id = "txtConfirmpassword", @class = "required", placeholder = "Confirm Password", type = "password", @maxLength = 20, autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:35%;float:left;">
                                    <label>&nbsp; </label>
                                </section>
                                <section class="feildWraper" style="width:65%;float:left;">
                                    <div id="result" style="padding:3px;"></div>
                                </section>
                            </section>      
                            <section class="formBox-content" style="padding-top:0;">
                                <section class="floatRight">
                                    <section class="small-formBtn">
                                        <input type="submit" class="pink-btn" value="Save">
                                    </section>
                                </section>
                            </section>
                            <section class="feildRow" style="padding:0;float:right;width:auto;">
                                @Html.ActionLink("Return to login", "Index", null, new { @class = "formBox-content half labelWraper label" })
                            </section>
                        </section>
                    }
                    else
                    {
                        <br /><br />
                        <section class="textfield_row" id="secTimeoutMessage" style="padding-left:5px;">
                            @Html.ActionLink("click here to request password again", "ForgotPassword", null, new { @class = "formBox-content half labelWraper label" })
                        </section>
                    }
                    <section class="clear"></section>
                </section>
            </section>
            <footer class="fullwidth mainFooter">
                Copyright © @DateTime.Now.Year ITC Systems. All rights reserved.
            </footer>
            <section class="clear"></section>
        </section>
    </body>
}
</html>

