@using ITC_Matrix.Common;

@model ITC_Matrix.Models.Credential
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "clients";
    ViewBag.SubMenu = "clientsNode";
}

<script type="text/javascript" src="~/Assets/JS/ClientCard.js"></script>

<section class="mainTable-right">
    @using (Html.BeginForm("Create", "Credentials", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Auth2")
        @Html.Hidden("Confirm_Auth2")
        @Html.Hidden("Flag", "0")

        <section class="contentLimit-box content" id="content-1">
            @if (ViewBag.CredentialMessage != null)
                {
                <section class="@ViewBag.MessageClass">@ViewBag.CredentialMessage</section>
            }
            <section class="contentLimit-boxInner">
                <section class="formBox-row fullwidth">
                    <section class="heading">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Edit_Credentials)</section>
                    <section class="formBox-content">
                        <section class="leftDiv half" style="width:500px;">
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.ClienID) :</label>
                                </section>
                                <section class="feildWraper">
                                    @Html.Editor("ClientID", new { htmlAttributes = new { @readOnly = true, @data_Val = false } })                                   
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Credential_Type) :</label>
                                </section>
                                <section class="feildWraper">
                                    <label class="customeFeild selectTag">
                                        @Html.DropDownList("CredentialTypeID")
                                    </label>
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Credentials)</label>
                                </section>
                                <section class="feildWraper">
                                    @Html.EditorFor(model => model.Auth1)
                                    @Html.ValidationMessageFor(model => model.Auth1, "", new { @class = "text-danger" })
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.expiry_date)</label>
                                </section>
                                <section class="feildWraper">
                                    @if (@ViewBag.ExpiryDate != null)
                                    {
                                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @id = "Expiry_Date", @Value = @ViewBag.ExpiryDate } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @id = "Expiry_Date", @Value = DateTime.Now.ToString() } })
                                    }
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px; margin-top: 7px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Auth_2_Required)</label>
                                </section>
                                <section class="feildWraper">
                                    @Html.CheckBox("Auth2Required_bool", new { @id = "Auth2Required_bool" })
                                    <label for='Auth2Required_bool' class="checkbox-inline"><span></span><div class="label-txt"></div></label>
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px; margin-top: 7px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Primary)</label>
                                </section>
                                <section class="feildWraper">
                                    @Html.CheckBox("PrimaryCredential_bool", new { @id = "PrimaryCredential_bool" })
                                    <label for='PrimaryCredential_bool' class="checkbox-inline"><span></span><div class="label-txt"></div></label>
                                </section>
                            </section>
                            <section class="feildRow">
                                <section class="labelWraper" style="width:170px; margin-top: 7px;">
                                    <label>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Manuel_Entry_Allowed)</label>
                                </section>
                                <section class="feildWraper">
                                    @Html.CheckBox("ManuelEntryAllowed_bool", new { @id = "ManuelEntryAllowed_bool" })
                                    <label for='ManuelEntryAllowed_bool' class="checkbox-inline"><span></span><div class="label-txt"></div></label>
                                </section>
                            </section>                           
                        </section>
                    </section>
                    <section class="formBox-content" style="padding-top:0;">
                        <section class="floatRight">
                            <section class="small-formBtn">
                                <input type="submit" name="Command" value="Save" class="pink-btn" />
                            </section>
                            <section class="small-formBtn">
                                <a href='@Url.Action("Index", "Credentials",new { @id = ViewBag.ClientID } )' class="blue-btn">Cancel</a>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="clear"></section>
        </section>
    }
</section>