@using ITC_Matrix.Common;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ITC_Matrix.Models.Credential>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "clients";
    ViewBag.SubMenu = "clientsNode";
}

<script type="text/javascript" src="~/Assets/JS/ClientCard.js"></script>

<section class="mainTable-right">
    <section class="filterRow">
        @using (@Html.BeginForm("Index", "Credentials", FormMethod.Get))
            {
            <h3>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Credentials)</h3>

            <section class="fullwidth">
                <section class="row">
                    <section class="selectBy-sort" style="width: 90px;">
                        @Html.CheckBox("searchBy", true)
                        <label for="searchBy" class="checkbox-inline"><span></span><div class="label-txt">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Enabled)</div></label>
                    </section>
                    <section class="small-formBtn">
                        <input type="submit" value="Find" class="pink-btn" onclick="Index" />
                    </section>
                </section>
            </section>
        }
    </section>
    <section class="clear">&nbsp;</section>
    @if (ViewBag.CredentialMessage != null)
    {
        <section class="@ViewBag.MessageClass">@ViewBag.CredentialMessage</section>
    }
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridTable tableFixed-none">
        <thead>
            <tr class="gridHeading">
                <th width="115px" style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Credentials)</th>
                <th style="text-align:left;"> @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Issue_Date)</th>
                <th style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Return_Date)</th>
                <th style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Type)</th>
                <th style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Primary)</th>
                <th style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Enable)</th>
                <th style="text-align:left;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.expiry_date)</th>
                <th style="text-align:left;" colspan="2">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Manage)</th>
            </tr>
        </thead>
        <tbody class="scrollContent">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="8">
                        Sorry ! no such record found
                    </td>
                </tr>
            }
            
            @foreach (var item in Model)
            {               
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Auth1)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChangedDate)</td>
                    @if (item.ReturnedDate.ToString().Contains("2173"))
                    {
                        <td>&nbsp;</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.ReturnedDate)</td>
                    }

                    @if (item.CredentialTypeID == 1)
                    {
                        <td>Card</td>
                    }
                    else
                    {
                        <td>Network</td>
                    }

                    @if (item.PrimaryCredential == 0)
                    {
                        <td>&nbsp;</td>
                    }
                    else
                    {
                        <td>Yes</td>
                    }
                    @if (item.Valid == 0)
                    {
                        <td>No</td>
                    }
                    else
                    {
                        <td>Yes</td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                    <td width="40px"><a href="@Url.Action("Edit", "Credentials", new { cid = item.CredentialTypeID, aid = item.Auth1 })" class="edit_icon" data-toggle="tooltip" title="Click to edit this credential."></a></td>
                    <td width="40px">
                        @if (ViewBag.ReturnPermission != null)
                        {
                            if (ViewBag.ReturnPermission == false)
                            {
                                <span>
                                    &nbsp;
                                </span>
                            }
                            else
                            {
                                if (item.Valid == 1 && item.ReturnedDate.ToString().Contains("2173"))
                                {
                                    <a class="lnkCancel" href="@Url.Action("Cancel", "Credentials", new { cid = item.CredentialTypeID, aid = item.Auth1 })" data-toggle="tooltip">
                                        <span>
                                            <img src="~/Assets/images/tick-icon.png" title="Click to cancel credential." />
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    <a data-toggle="tooltip">
                                        <span>
                                            <img src="~/Assets/images/cross-icon.png" title="This credential is cancelled." />
                                        </span>
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            if (item.Valid == 1 && item.ReturnedDate.ToString().Contains("2173"))
                            {
                                <a class="lnkCancel" href="@Url.Action("Cancel", "Credentials", new { cid = item.CredentialTypeID, aid = item.Auth1 })" data-toggle="tooltip">
                                    <span>
                                        <img src="~/Assets/images/tick-icon.png" title="Click to cancel credential." />
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a data-toggle="tooltip">
                                    <span>
                                        <img src="~/Assets/images/cross-icon.png" title="This credential is cancelled." />
                                    </span>
                                </a>
                            }
                        }
                    </td>
                </tr>
            }

        </tbody>
        <tfoot class="gridFooter">
            <tr>
                <td colspan="9">
                    <section class="floatLeft scroll-btns">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
                    </section>
                    <section class="floatRight">
                        <a href='@Url.Action("Create", "Credentials", new {@id = ViewBag.ClientID} )'>
                            <input type="button" class="orange-btn" value="@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Addnew)">
                        </a>
                    </section>
                </td>
            </tr>
        </tfoot>
    </table>
</section>