@using PagedList;
@using PagedList.Mvc;
@using ITC_Matrix.Common;
@model IEnumerable<ITC_Matrix.Models.ClientPlansUnlimited>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "clients";
    ViewBag.SubMenu = "clientsNode";

    var clientid = "";
}


<section class="mainTable-right">
    @using (Html.BeginForm("Index", "ClientMealPlans", FormMethod.Get))
    {        
        <section class="formBox-row">
            <section class="half-width" style="float:left"><h3>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Meal_Plan_Info)</h3></section>

            <section class="floatRight">
                <a href='@Url.Action("Index", "Clients")' class="blue-btn">Return To Clients</a>
                @*<a href='@Url.Action("Index", "Clients")'><span class="pink-btn"><input type="button" class="pink-btn" value="Return To Clients"></span></a>*@
            </section>
        </section>
        
        <section class="clear">&nbsp;</section>        
        if (ViewBag.Message != null)
        {
            <section class="@ViewBag.MessageClass">@ViewBag.Message</section>
        }
        <div style="width: 850px; overflow-x: auto;scrollbar-base-color:pink;scrollbar-arrow-color:purple;"  >


            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridTable tableFixed-none">
                <tbody class="scrollContent">
                    <tr>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.ClienID)
                           
                        </th>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Family)
                            
                        </th>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.PlanDescription)
                          
                        </th>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.PlanStartDate)
                            
                        </th>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.LastMealTime)
                            
                        </th>
                        <th>
                            @ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.WeekMealCount)
                            
                        </th>
                        <th colspan="5"></th>
                    </tr>

                    @if (Model.Count() == 0)
                {
                <tr>
                    <td colspan="10">
                        Sorry ! no such record found.
                    </td>
                </tr>
                }

                    @foreach (var item in Model)
                {

                @Html.Hidden("Id", item.ClientID);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FAMILY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plan.DSCR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlanStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastMealTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekMealCount)
                    </td>
                    <td width="40px"><a data-toggle="tooltip" title="Click to edit this client's meal info." href="@Url.Action("Edit", "ClientMealPlans", new { ClientID = item.ClientID, PlanID = item.PlanID })"><span class="edit_icon"></span></a></td>

                    <td><a href='@Url.Action("Manage", "ClientMealPlans", new { ClientID = item.ClientID, PlanID = item.PlanID })' style="width:100px" class="blue-btn">Manage</a></td>
                    <td><a href='@Url.Action("LookUp", "ClientMealPlans", new { ClientID = item.ClientID, PlanID = item.PlanID })' style="width:100px" class="blue-btn">Look Up</a></td>
                    <td><a href='@Url.Action("GenerateStatement", "ClientMealPlans", new { ClientID = item.ClientID, PlanID = item.PlanID })' style="width:115px" class="blue-btn">Statement</a></td>

                    <td width="40px"><a data-toggle="tooltip" title="Click to delete this client's meal info." class="lnkDelete" data-id="@item.ClientID" href="@Url.Action("Delete", "ClientMealPlans", new { ClientID = item.ClientID, PlanID = item.PlanID })"><span class="delete_icon"></span></a></td>
                </tr>
                }
                    @{
                    clientid = @ViewBag.Id;
                    }

                </tbody>

                <tfoot class="gridFooter">
                    <tr>
                        <td colspan="11">
                            <section class="floatRight">
                                <a href='@Url.Action("Purchase", "ClientMealPlans", new { id = @clientid })' class="pink-btn" style="line-height: 30px;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.PurchaseNewPlan)</a>
                            </section>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>

                        }
</section>
