@model IEnumerable<ITC_Matrix.Models.ClientPlan>
@using ITC_Matrix.Common;
@{
    ViewBag.Title = "Meal Plan Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
                      ViewBag.Menu = "clients";
                      ViewBag.SubMenu = "clientsNode";
    var tempid = string.Empty;
}
<script src="~/Assets/js/ManageClient.js"></script>
<section class="mainTable-right">

    @using (Html.BeginForm())
    {
        @Html.Hidden("ClientID");
        @Html.Hidden("PlanID");

        <section class="formBox-row">
            <section class="half-width" style="float:left"><h3>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Meal_Plan_Info)</h3></section>
        </section>

        <section class="clear">&nbsp;</section>
        <label id="lblError" style="color:red;"></label>
        if (ViewBag.Message != null)
        {
            <section class="@ViewBag.MessageClass">@ViewBag.Message</section>
        }

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridTable tableFixed-none">
            <tbody class="scrollContent">
                <tr>
                    <th></th>
                    <th>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.MealsTaken)</th>
                    <th>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.MaxMeals)</th>
                    <th>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.amount)</th>
                    <th>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Maxamount)</th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Meals)
                            </td>

                            <td>
                                @Html.Raw(item.Max)
                            </td>

                            <td>
                                @{
                                    decimal val = 0;
                                    if (item.Amount != 0)
                                    {
                                        val = (decimal)item.Amount / 100;
                                    }
                                    @Html.Raw(string.Format("{0:0.00}", val))
                                }

                            </td>

                            <td>
                                @{
                                    if (item.MaxAmount != 0)
                                    {
                                        @Html.Raw("$" + string.Format("{0:0.00}", ((decimal)item.MaxAmount / 100)))
                                    }
                                    else
                                    {
                                        @Html.Raw("N/A")
                                    }
                                }
                            </td>
                        </tr>

                                    }

                                    <tr>
                                        <td>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Plan)</td>
                                        <td>
                                            @{
                                                int valmealtaken = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                valmealtaken = valmealtaken + item.Meals;
                                            }
                                            @Html.Raw(valmealtaken)
                                        </td>

                                        <td>
                                            @{
                                                decimal valspent = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                if (item.Max != "")
                                                {
                                                    valspent = valspent + (Convert.ToDecimal(item.Max));
                                                }
                                            }
                                            @Html.Raw(string.Format("{0:0.00}", valspent))
                                        </td>
                                        <td>
                                            @{
                                                decimal valamt = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                if (item.Amount != 0)
                                                {
                                                    valamt = valamt + ((decimal)item.Amount / 100);
                                                }
                                            }
                                            @Html.Raw("$" + string.Format("{0:0.00}", valamt))
                                        </td>

                                        <td>

                                            @{
                                                decimal valTotalAmountPerPlan = 0;
                                                valspent = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                if (item.TotalAmountPerPlan != 0)
                                                {
                                                    valTotalAmountPerPlan = ((decimal)item.TotalAmountPerPlan);
                                                }

                                                if (item.Amount != 0)
                                                {
                                                    valspent = valspent + ((decimal)item.Amount);
                                                }
                                            }

                                            @{
                                                if (valTotalAmountPerPlan != 0)
                                                {
                                                    @Html.Raw(Convert.ToString(valTotalAmountPerPlan / 10));
                                                }
                                                else
                                                {
                                                    @Html.Raw(Convert.ToString(valTotalAmountPerPlan));
                                                }
                                            }

                                        </td>

                                    </tr>
                                                }
            </tbody>
            <tfoot class="gridFooter">
                <tr>
                    <td colspan="7">
                        <section class="floatRight">
                            <a href='@Url.Action("Index", "ClientMealPlans" , new { id = ViewBag.Id })' class="blue-btn">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Cancel)</a>
                            @*<a href="@Url.Action("Index", "ClientMealPlans", new { id = ViewBag.Id })"><input type="button" class="pink-btn" value="Cancel"></a>*@
                        </section>

                    </td>
                </tr>
            </tfoot>

        </table>

                                                }
</section>