@using ITC_Matrix.Common;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ITC_Matrix.Models.CostCentre>

@{
    ViewBag.Title = "Cost Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Menu = "clients";
    ViewBag.SubMenu = "costCenterNode";
}

<section class="mainTable-right">
    <section class="filterRow">
        @using (@Html.BeginForm("Index", "CostCenter", FormMethod.Get))
        {
            <h3>@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Cost_Center)</h3>
            <text>
                <h4 style="padding-bottom:5px;">@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Sort_By)</h4>
            </text>
            <section class="fullwidth">
                <section class="row">
                    <section class="selectBy-sort">
                        <label class="customeFeild selectTag">
                            @Html.DropDownList("searchBy", new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Code", Value = "1"},
                                new SelectListItem { Text = "Name", Value = "2"},
                            })

                        </label>
                    </section>
                    <section class="searchBy">
                        @Html.TextBox("search")
                    </section>
                    <section class="small-formBtn">
                        <input type="submit" value="Find" class="pink-btn" onclick="Index" />
                    </section>
                    <section class="small-formBtn">                      
                        <a href='@Url.Action("Index", "CostCenter")' value="Clear" class="blue-btn" data-toggle="tooltip" title="Clear Search">Clear</a>
                    </section>
                </section>
            </section>
        }
    </section>
    <section class="clear">&nbsp;</section>
    @if (ViewBag.CostCenterMessage != null)
    {
        <section class="@ViewBag.Class">@ViewBag.CostCenterMessage</section>
    }
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridTable tableFixed-none">
        <thead>
            <tr class="gridHeading">

                <th width="115px" style="text-align:left;">@Html.ActionLink(@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Code), "Index", new { sortBy = ViewBag.CodeSort, searchBy = Request.QueryString["searchBy"], txtSearch = Request.QueryString["txtSearch"] }, new { @class = "label" })</th>

                <th style="text-align:left;" colspan="3"> @Html.ActionLink(@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Name), "Index", new { sortBy = ViewBag.NameSort, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }, new { @class = "label" })</th>

            </tr>
        </thead>
        <tbody class="scrollContent">

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="2">
                        Sorry ! no such record found.
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CostCentreID)</td>
                    <td>@Html.DisplayFor(modelItem => item.CostCentreName)</td>

                    @{ 
                        if (ViewBag.isPermission == false)
                        {
                            <td width="40px"></td>
                            <td width="40px"></td>
                        }
                        else
                        {
                            <td width="40px"> <a href="@Url.Action("Edit", "CostCenter", new { id = item.CostCentreID })" class="edit_icon" data-toggle="tooltip" title="Click to edit this cost center."></a></td>
                            <td width="40px">
                                <a class="lnkDelete" data-id="@item.CostCentreID" data-toggle="tooltip" title="Click to delete this cost center."
                                   href='@Url.Action("Delete", "CostCenter", new { id = item.CostCentreID })'>
                                    <img src="~/Assets/Images/delete_icon.png" />
                                </a>
                            </td>
                        }
                    }
                   </tr>
                        }

        </tbody>
        <tfoot class="gridFooter">
            <tr>
                <td colspan="4">
                    <section class="floatLeft scroll-btns">

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
                    </section>
                    @{
                        if (ViewBag.isPermission != false)
                        {
                            <section class="floatRight">
                                <a href='@Url.Action("Create", "CostCenter")'>
                                    <input type="button" class="orange-btn" value="@ITC_Matrix.Common.Functions.GetTranslation((int)CommonEnum.Translation.Addnew)">
                                </a>
                            </section>
                            }
                        }
                </td>
            </tr>
        </tfoot>
    </table>
</section>
<section class="clear"></section>